<ul id="peg1" class="peg">

  <!--
    These are commented out, because you will be adding discs
    via Javascript - depending on how many discs the player requests.
  -->
  <!-- <li class="disc">1</li> -->
  <!-- <li class="disc">2</li> -->
  <!-- <li class="disc">3</li> -->
</ul>

<ul id="peg2" class="peg">
</ul>

<ul id="peg3" class="peg">
</ul>